<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>GAME</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
		<script src="https://unpkg.com/css-doodle@0.23.1/css-doodle.min.js"></script>
	</head>

	<body>
		<div class="cover-container d-flex p-3 mx-auto flex-column" style="vertical-align: middle;">
			
			<header class="mt-2 d-flex justify-content-center" id="ofheader">
		    <div class="text-center mt-2">
		      <h1> WORD-CHALLENGE GAME </h1>
		      <h6>write a word beggining with the last letter of the previous word</h6>
		    </div>
			 </header>
			 
			 <main class="px-3 border rounded-2 mt-2" style="vertical-align: middle;">
			 	

				<div class="d-flex justify-content-center m-2 p-2 border-bottom">
					<p style="font-size: 1.5rem;"><%= temp %></p>
				</div>

				<div class="d-flex flex-row justify-content-center m-2 mt-2 px-3 p-2">
					<form class="" id="answer" method="post" autocomplete="off">
						<input type="text" class="text-center" name="word" id="entrance" autocomplete="off">
						<input type="submit" name="OK" value="OK" id="ok">
					</form>
				</div>

				<footer class="d-flex justify-content-center mt-auto text-white-50">
    			<p>@GeneTech</p>
  			</footer>

			</main>			
		</div>
		<!--<css-doodle click-to-update>
		  <style>
		    :doodle {
				  @grid: 8 / 90%;
				  @shape: circle;
				}

				transition: .2s @r(.6s);
				border-radius: @pick(100% 0, 0 100%);

				will-change: transform;
				transform: scale(@r(.25, 1.25));

				background: hsla(
				  calc(240 - 6 * @x * @y),
				  70%, 68%, @r.8
				);
		  </style>
		</css-doodle>-->

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" ></script>
			
	</body>
</html>



<style type="text/css">
html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
	height: 100vh;
  width: 100vw;
  background-color: #ff7700;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23cc0000' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23aa0000' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23d6002b' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23b10022' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23d9004b' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23b2003d' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23d3006c' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23ac0057' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23c4008c' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%239e0071' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23aa00aa' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23880088' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
	background-size: cover;
}

.cover-container {
  max-width: 60em;
}

#ofheader{
	margin-top: 10rem;
	margin-bottom: 3rem;
}

#sub-main{
	display: flex;
	justify-content: center;		
	position: relative;
	margin: 0.5rem;
	flex-direction: column;
	margin: 1rem;
	padding: 0.5rem;
}

#answer{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	flex-direction: column;
	margin: 0.5rem;
	padding: 0.5rem;
	text-align: center;
}

#entrance{
	display: flex;
	position: relative;
	justify-content: center;
	padding: 0.1rem;
	width: 15rem;
	height: 3rem;
	margin-bottom: 0.5rem;
	font-size: 1.5rem;
}

#ok{
	display: flex;
	position: relative;
	justify-content: center;
	padding: 0.1rem;
	width: 15rem;
	height: 2rem;
}


</style>

<script type="text/javascript">
	
</script>